<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SewaAja</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                  aria-expanded="false">Kategori</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="/kategori/kamera">Kamera</a>
                  <a class="dropdown-item" href="/kategori/game">Game</a>
                  <a class="dropdown-item" href="/kategori/buku">Buku</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </li>
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Cari Produk" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari Produk</button>
          </form>
      </ul>
  </div>
  <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Keranjang</a></li>
      <ul class="nav-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Akun <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Keluar</a>
      </ul>

  </ul>
  </div>
</nav>