{{# each products }}
    <div class="row">
        {{# each this }}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
                <div class="caption">
                    <h3>{{ this.title }}</h3>
                    <p class="description">{{ this.description }}</p>
                    <div class="clearfix">
                        <div class="price pull-left">{{ this.price }}</div>
                        <a href="/keranjang/{{this._id}}" class="btn btn-success pull-right" role="button">Tambah ke Keranjang</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{/each}}